<div id="sidebar" ng-controller="VideoController">
  <div class="row">
    <div id="fullPlayer" class="unselectable ng-cloak col-md-12 resize-control" ng-mousemove="mouseMoving($event)" ng-mouseup="dragStop($event)">
      <div class="embed-responsive embed-responsive-16by9">
        <video id="VideoElement" ng-click="togglePlay()" width="100%" height="100%"></video>
        <div id="bigPlayButton" ng-click="togglePlay()" ng-hide="videoPlaying" class="well" style="margin-top:{{vidHeightCenter}}px;margin-left:{{vidWidthCenter}}px;"><span class="glyphicon glyphicon-play"></span> </div>
        <div id="videoTitle" ng-hide="videoPlaying" >{{titleDisplay}} </div>
        <div id="VideoOptions" class="panel panel-default" ng-show="showOptions">
            <div class="panel-heading">
                <h1 class="panel-title">{{titleDisplay}}</h1>
            </div>
            <div class="panel-body">
                <div class="col-xs-6">
                    <h2>Video Details:</h2>
                    <p>{{videoSource}}</p>
                    <p><em>Duration: {{totalTime | time}}</em></p>
                </div>
                <div class="col-xs-6">
                <h2>Select Video:</h2>
                <input ng-model="playlist" onchange="angular.element(this).scope().file_changed(this)" type="file" accept="video/*" />
                   <!--  <ul id="video-list" class="list-group" ng-model="playlist">

                        <li class="list-group-item" ng-repeat="video in playlist" ng-click="videoSelected($index)">{{video.title}}</li>
                    </ul> -->
                </div>
            </div>
        </div>
      </div>

      <div id="progressMeterFull" ng-click="videoSeek($event)">
        <div id="progressMeter" ng-click="videoSeek($event)" style="width:{{scrubLeft}}px"></div>
      </div>
      <div id="thumbScrubber" style="top:{{scrubTop}}px;left:{{scrubLeft}}px;" ng-mousedown="dragStart($event)"></div>
      <div id="playerToolBar">
        <a id="playBtn" ng-click="togglePlay()" class="btn btn-default btn-small"><span class="glyphicon glyphicon-play"></span></a>
        <a id="muteBtn" ng-click="toggleMute()" class="btn btn-default btn-small"><span class="glyphicon glyphicon-volume-up"></span></a>
        <span id="videoTime">{{currentTime | time}} / {{totalTime | time}}</span>

        <a id="oneBtn" ng-click="toggleSpeedNormal()" class="btn btn-default"><span class="btn-speed">speed: 1</span></a>
        <a id="twoBtn" ng-click="toggleSpeedAdd()" class="btn btn-default"><span class="btn-speed">{{currentSpeed | speedplus}}</span></a>


        <a id="fsBtn" ng-click="toggleFullscreen()" class="btn btn-default btn-small pull-right"><span class="glyphicon glyphicon-fullscreen"></span></a>
        <a id="detailsBtn" ng-click="toggleDetails()" class="btn btn-default btn-small pull-right"><span class="glyphicon glyphicon-option-horizontal"></span></a>
      </div>

    </div>
  </div>
</div>

<div id="content" ng-controller="ActionController">
  <div id="top-content">
  <div class="logout">
    <%= link_to 'Logout', destroy_user_session_path, :method => 'delete' %>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading">Shopper characteristic</div>
        <div class="panel-body">
          <form name="f" data-ng-submit="addShoper()">
            płeć <select class="form-control" name="sex" data-ng-model="formData.sex" data-ng-options="value.name for value in sextype" required>
            </select>
            wiek <select class="form-control" name="age" data-ng-model="formData.age" data-ng-options="value.name for value in age" required>
            </select>
            ile osób<select class="form-control" name="person" data-ng-model="formData.person" data-ng-options="value.name for value in person" required>
            </select>
            z czym robi zakupy?<select class="form-control" name="trolley" data-ng-model="formData.trolley" data-ng-options="value.name for value in trolley" required>
            </select><br />
             z dzieckiem <input id="child" value="child" type="checkbox" data-ng-model="formData.child">
            <br /><br />
            <button class="btn btn-success" data-ng-disabled="f.$invalid">Wejście</span></button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="panel panel-default">
        <div class="panel-heading">Active shoppers</div>
          <div class="panel-body panel-height">
            <div class="btn-group-vertical width100 group-over" role="group">
              <button type="button" ng-class="{ 'selected-index': $index == selectedIndex }" class="btn btn-default btn-width100" data-ng-repeat="todo in todos track by $index" ng-click="showAction($index)">
                <table><tr>
                  <td class="faIcon"><i style="color: {{todo.color}}" class="fa fa-{{todo.icon}}"></i></td>
                  <td class="shopperData">{{todoDescription(todo)}}</td>
                </tr></table>
              </button>
            </div>

          </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default" ng-show="actionUser">
        <div class="panel-heading">Actions</div>
          <div class="panel-body panel-height">
            <div class="btn-group-vertical width100 group-over" role="group">
                <button type="button" class="btn btn-default btn-width100"
                  ng-repeat="action in actions" ng-class="{ 'selected-index': $index == selectedActionIndex }" ng-disabled="isDisabledAction(action)" ng-click="AddAction($index)">
                  <table><tr>
                    <td class="faIcon"><i style="color: {{actionUserColor}}" class="fa fa-{{actionUserIcon}}"></i></td>
                    <td class="shopperAction">{{action.name}} <span class="areaName">&nbsp;{{areaName(action)}}</span></td>
                  </tr></table>
                </button>
            </div>

          </div>
      </div>
    </div>

  </div>
  <div class="row">
  <a id="imgDetailsBtn" ng-click="imageDetails()" class="btn btn-default btn-small pull-right"><span class="glyphicon glyphicon-option-horizontal"></span></a>
    <div class="col-md-12">

      <div id="ImageOptions" class="panel panel-default">

        <div class="panel-body">

        <div class="thums" ng-hide="showImage">
        <div>
          <img ng-src="{{image_url}}" usemap="#map" id="image" class="imsgere" name="image">

        </div>

        <!-- <div class="slide-animate" ng-bind-html="ImgData"></div> -->
        <map name='map'  ng-bind-html="ImgData">

        </map>
        </div>

          <div class="col-md-4 " ng-show="showImageList">
           <h2>Select Image:</h2>
           <input ng-model="imagelist" onchange="angular.element(this).scope().image_changed(this)" type="file" accept="image/*" />
           <h2>Select Map:</h2>
           <input ng-model="maplist" onchange="angular.element(this).scope().map_changed(this)" type="file" accept=".html,.txt"/>
            <!-- <ul id="image-list" class="list-group" ng-model="imagelist">
                <li class="list-group-item" ng-repeat="image in imagelist" ng-click="imageSelected($index)">{{image.title}}</li>
            </ul> -->
             <button type="button" class="btn btn-default btn-width100" ng-click="addImage(); ">Show Image</button>
          </div>
        </div>
      </div>
    </div>
    <!-- <pre>{{todos|json}}</pre> -->
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">Inactive shoppers</div>
        <div class="panel-body">
          <div data-ng-repeat="past_todo in past_todos track by $index">
            <table><tr>
              <td class="faIcon"><i style="color: {{past_todo.color}}" class="fa fa-{{past_todo.icon}}"></i></td>
              <td class="shopperData">{{todoDescription(past_todo)}}</td>
              <td class="navLinks">
                <a href='#' ng-click="removeShopper(past_todo, $index);">usuń</a> |
                <a href='#' ng-click="activateShopper(past_todo, $index);">aktywuj</a>
              </td>
            </tr>
            </table>
            <span class="pastActions">{{past_todo['actions'].join(' | ')}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  </div>
</div>

<div id="sidebar-resizer"
  resizer="vertical"
  resizer-width="6"
  resizer-left="#sidebar"
  resizer-right="#content"
  resizer-max="1000"
  resizer-min="620">
</div>

