<div class="container">
  <% content_for :info_message, t(:loggin_to_continue).html_safe -%>
  <%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), html: {class: 'col-md-4 col-md-offset-4'}) do |f| %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= f.input :login, :required => false, :autofocus => true %>
    <%= f.input :password, :required => false %>
    <%= f.button :submit, 'Login', :class => 'btn-primary' %>

    <% if devise_mapping.recoverable? %>
      <label class="checkbox">
        <%#= link_to "Nie pamiętasz hasła?", new_password_path(resource_name) %>
      </label>
    <% end %>
  <% end %>
  <%#= render "devise/shared/links" %>
</div>
