// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.faIcon {
  width: 30px;
  font-size: 20px;
  padding-right: 10px;
}

td.shopperData {
  font-size: 13px;
  text-align: left;
}

td.shopperAction {
  font-size: 13px;
  text-align: left;
}

span.areaName {
  color: yellow;
}

.logout {
  position: absolute;
  right: 5px;
  top: 5px;
  z-index: 1000;
}

.navLinks {
    padding-left: 10px;
}

.pastActions {
  font-size: 12px;
  color: #D3D3D3;
  display: block;
  padding-left: 30px;
}
