/* ELEMENTS + UTILITY */
html, body {
    padding:0;
    margin:0;
    overflow:hidden;
}
.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}


/* VIDEODISPLAY */
#videoDisplay {
    background-color: black;
}


/* CONTROLBAR */
#playerToolBar {
    background-color: #464545;
}
#playerToolBar a {
    font-size: 1.2em;
    color: #b8b8bb;
}
#playerToolBar .btn-small {
    border-radius:0px;
    width: 40px;
    height:40px;
}
#playerToolBar .btn {
    border-radius:0px;
    height:40px;
}
#playerToolBar .glyphicon {
    top: -1px;
    left:-5px;
}
#playerToolBar .btn:focus {
    border: none;
    box-shadow: 0;
    outline: 0 none;
}
#videoTime {
    color: #c0c0c0;
    font-size: 1.1em;
    left:12px;
    margin-right: 20px;
    position: relative;
    top:3px;
}

.btn-speed {
    position: relative;
    top:-5px;
    left:-2px;
    color: #c0c0c0;
}

/* OVERLAYS */
#bigPlayButton {
    background-color: rgba(0, 0, 0, 0.78);
    width:100px;
    height:100px;
    position:absolute;
    font-size: 3.2em;
    cursor: pointer;
    text-align: center;
}
#videoTitle {
    position: absolute;
    top:0px;
    left:0px;
    font-size: 1.3em;
    color: whitesmoke;
    width:100%;
    margin:5px;
    margin-left:10px;
    text-shadow: 1px 1px #333333;
}

/* PROGRESSBAR */
#progressMeterFull, #progressMeter {
    cursor: pointer;
    height:11px;
    margin:0;
}
#progressMeterFull {
    background-color: #5e6368;
    position: relative;
}
#progressMeter {
    background-color: #5d1f1c;
    position: absolute;
    top:0px;
    left:0px;
    width:0px;
}

#thumbScrubber {
    background-color: #b8b8bb;
    border: 1px solid #3d3d3d;
    width:15px;
    height:15px;
    border-radius: 15px;
    position:absolute;
    top:-1000px;
    left:-1000px;
    cursor: pointer;
}





#VideoOptions {
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
}

#VideoOptions h2 {
    font-size: 1.4em;
    color: #c3c3c3;
}

#VideoOptions li {
    cursor: pointer;
}


/* ANIMATIONS */
.ng-hide-remove {
    -webkit-animation: fadeIn 0.50s;
    animation: fadeIn 0.50s;
}

.ng-hide-add {
    -webkit-animation: fadeOut 0.75s;
    animation: fadeOut 0.75s;
    display: block !important;
}

/*RESIZABLE*/
#sidebar >.row{
    margin-right: 30px;
    margin-left: 20px;
}

.resize-control{
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 0px;
}


/*RESAIZER*/

#sidebar {
    background-color: transparent;
    position: absolute;
    top: 0px;
    bottom: 0;
    left: 0;
    width:700px;
    overflow: auto;
}
#content {
    position: absolute;
    top: 0px;
    bottom: 0;
    left: 706px;
    right: 0;
    overflow: hidden;
    color: #FFF;


}
#top-content {
    position: absolute;
    top: 0;
    bottom: 0px; /* 130 + 6 */
    left: 0;
    right: 0;
    background-color: #444;
    overflow: auto;
}


#sidebar-resizer {
    background-color: #666;
    position: absolute;
    top: 0px;
    bottom: 0;
    left: 700px;
    width: 6px;
    cursor: e-resize;
}
#content-resizer {
    position: absolute;
    height: 6px;
    bottom: 130px;
    left: 0;
    right: 0;
    background-color: #666;
    cursor: n-resize;
}

#sidebar-resizer:hover, #preview-resizer:hover {
    background-color: #AAA;
}

/*VIDEO LIST*/

#video-list{
    overflow-y: scroll ;
    height: 230px;
}

/*ACTION PANEL*/

.row {
    margin-left: 0px;
    margin-right: 0px;
}

.width100{
    width: 100% !important;
}

.btn-width100{
    float: left !important;
    margin-bottom: 10px;
    white-space: normal;
}

.form-control {
    display: block;
    width: 100%;
    height: 30px;
    padding: 0px 15px;
    font-size: 15px;
    line-height: 1.42857143;
    color: #464545;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #f1f1f1;
    border-radius: 4px;

}

.panel-height{
    height: 352px;
}

.group-over{
    overflow: auto;
    height: 400px;
}

.selected-index, .selected-index:hover, .selected-index:focus {
  background-color: #008966;
  border-color: #008966;
}

.title-color{
    color: #008966;
}

#ImageOptions{
    height: 400px;
    width: 100%;
}

#ImageOptions li{
    cursor: pointer;
}

#ImageOptions{
  overflow: scroll;

}

#imgDetailsBtn.btn-small {
    border-radius:0px;
    width: 40px;
    height:20px;
    padding: 0px;
}

.image-list{
    max-height: 350px;
    overflow-y: scroll;
}

area {display: block; background-color: #FFEEEE;}
