<!DOCTYPE html>
<html>
<head>
  <title>VideoMatching</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= stylesheet_link_tag    'video-player', media: 'all' %>
  <%#= stylesheet_link_tag    'bootswatch', media: 'all' %>

  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag 'video-app' %>
  <%= javascript_include_tag 'resizer' %>
  <%= javascript_include_tag 'action' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div ng-app="videoApp"><%= yield %></div>
</body>
</html>
